div {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div > h1 {
    font-size: 2rem;
}

nav ul {
    display: flex;
    gap: 3rem;
}

nav ul li a {
    color: #000;
    font-weight: 500;
}

nav ul li a:hover {
    color: #6a5acd;
    transition: 300ms ease;
}

.fa-bars, .fa-times {
    position: absolute;
    right: 10vw;
    font-size: 2rem;
    font-weight: 600;
    display: none;
}

@media screen and (max-width: 768px) {
    div > h1 {
        position: absolute;
    }
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 1rem;
        right: 2rem;
        transition: 300ms ease;
        display: none;
    }
    .fa-bars {
        display: block;
    }
}